In [5]:
from proj1_helpers import load_csv_data
from implementation import least_squares
from helpers import split_data
from helpers import build_poly
from data_process import impute, normalize
from costs import predict_labels

from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

In [27]:
yb_data_train, input_data_train, ids_train = load_csv_data("Data/train.csv", sub_sample = False)
#yb_data_test, input_data_test, ids_test = load_csv_data("Data/test.csv")

In [28]:
input_data_train[input_data_train <= -999] = np.nan

In [29]:
median = np.nanmedian(input_data_train, axis = 0)

In [30]:
x = impute(input_data_train, median)
#x = normalization(x)

In [463]:
a = np.delete(x, [5,6,12,26], axis = 1)

In [38]:
x[:,5].min()

13.602

In [24]:
def impute(data, median):
    '''
    Imputes the -999 values with the median of the column.
    '''
    inds = np.where(np.isnan(data))
    data[inds] = np.take(median, inds[1])

    return data

In [449]:
#pca = PCA()

In [450]:
#x = pca.fit_transform(x,1)

In [451]:
#sns.pairplot(x.loc[:,0:5])
#sns.heatmap(x.corr(), annot = True)

In [452]:
# f = plt.figure(figsize=(19, 15))
# plt.matshow(x.corr(), fignum=f.number)
# plt.xticks(range(df.shape[1]), df.columns, fontsize=14, rotation=45)
# plt.yticks(range(df.shape[1]), df.columns, fontsize=14)
# cb = plt.colorbar()
# cb.ax.tick_params(labelsize=14)
# plt.title('Correlation Matrix', fontsize=16);

In [15]:
x = pd.DataFrame(x)

In [16]:
corr = x.corr()
corr.loc[:,0:10][corr > .6]

,0,1,2,3,4,5,6,7,8,9,10
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.834126,NaN
4,NaN,NaN,NaN,NaN,1.000000,0.947397,0.999981,NaN,NaN,0.653397,NaN
5,NaN,NaN,NaN,NaN,0.947397,1.000000,0.945812,NaN,NaN,0.668274,NaN
6,NaN,NaN,NaN,NaN,0.999981,0.945812,1.000000,NaN,NaN,0.653560,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
9,NaN,NaN,NaN,0.834126,0.653397,0.668274,0.653560,NaN,NaN,1.000000,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,0.999998,0.946944,0.999989,NaN,NaN,0.653522,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.715561
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,0.678480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,0.782805,NaN,0.602380,NaN,NaN,NaN,0.905552,NaN
22,NaN,NaN,NaN,0.611497,0.867890,0.819774,0.868066,NaN,NaN,0.749489,NaN
23,NaN,NaN,NaN,0.623323,NaN,NaN,NaN,NaN,NaN,0.635264,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,0.999285,0.949377,0.999283,NaN,NaN,0.671054,NaN
27,NaN,NaN,NaN,NaN,0.999995,0.946889,0.999988,NaN,NaN,0.653486,NaN
28,NaN,NaN,NaN,NaN,0.999995,0.946843,0.999989,NaN,NaN,0.653518,NaN
29,NaN,NaN,NaN,0.808407,0.687273,0.702646,0.687425,NaN,NaN,0.971070,NaN

In [424]:
x = x.drop([5,6,12,26,27,28],axis=1) #column 4 stays
x = x.drop([21,29], axis = 1) #column 9 stays

In [425]:
#x = x.where(x > -999)

In [426]:
#x.isna().sum(axis=0)

In [427]:
#x = x.dropna(axis = 1, thresh = 175000)

In [428]:
#x[x <= -998] = np.nan

In [429]:
#nan_count =[]
#for col in x.T:
#    nan_count.append(np.count_nonzero(np.isnan(col)))

In [430]:
#x = x.fillna(-999)

In [431]:
x = x.to_numpy()

In [432]:
x, l = build_poly(x, 3)

In [433]:
x

array([[  1.        ,   0.33672191,   0.03965436, ...,   0.78246928,
          0.16532081,   0.03492913],
       [  1.        ,   1.81339228,   0.63344061, ...,  -0.11295855,
         -0.10017126,  -0.08883153],
       [  1.        ,  -0.5367614 ,  -0.64151886, ...,  -0.49482101,
          1.37280861,  -3.80865697],
       ...,
       [  1.        ,   0.40776378,  -1.22366112, ...,  -3.56534137,
          2.62721562,  -1.93593297],
       [  1.        ,  -0.76835752,  -0.11217409, ...,   4.46976957,
          2.18096063,   1.06416879],
       [  1.        ,   0.18228785,  -1.31829705, ..., -12.56434694,
        -11.52334067, -10.56858593]])

In [434]:
x_train, y_train, x_test, y_test = split_data(x, yb_data_train, .8)

In [435]:
w, rmse = least_squares(y_train, x_train)

In [436]:
y_pred = predict_labels(w, x_test)

In [437]:
accuracy_score(y_test, y_pred)

0.688

In [438]:
f1_score(y_test, y_pred)

0.5272727272727273

In [42]:
np.c_[np.array([[1],[1],[1]]),np.array([[2],[2],[2]])]

array([[1, 2],
       [1, 2],
       [1, 2]])